/build
/resourceshrinker-classpath.jar
/retrace-classpath.jar
/screenshot2-classpath.jar
/sdkmanager-classpath.jar
/README
/r8.jar
/profgen-classpath.jar
/local.properties
/lint-classpath.jar
/gradlew.bat
/gradlew
/build_output.log
/avdmanager-classpath.jar
/apkanalyzer-classpath.jar
/.idea/
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
/src/main/keepRules/rules.keep
/.kotlin/
/analytics-library/
/annotations/
/apkparser/
/build-system/
/common/
/ddmlib/
/device_validator/
/external/
/layoutlib-api/
/lint/
/misc/
/profgen/
/repository/
/sdk-common/
/sdklib/
